apiVersion: apps/v1
kind: Deployment
metadata:
  name: django-scheduler
  namespace: schedule-queue-system
spec:
  replicas: 1
  template:
    spec:
      containers:
      - name: django-app
        env:
        - name: DEBUG
          value: "True"
        - name: LOG_LEVEL
          value: "DEBUG"